<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main page",'/desigual' %>
  <% end %>
  <h1>Nominals</h1>
  <% @nominals.each { |nominal| %>
    <div>
      <strong>Name</strong>
      <%=  nominal.name  %>
    </div>
  <% } %>
</div>

