<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main Nominal page",'/nominals' %>
  <% end %>
  <%if @nominal.nil? %>
  <strong>Nominal not found</strong>
    <%else %>
    <p>Nominal</p>
    <strong>Name:</strong>
    <%=@nominal.name %>
  <%end %>
</div>