<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main page",'/desigual' %>
  <% end %>
  <h1>Trends</h1>
  <% @trends.each { |trend| %>
    <div>
      <strong>Name</strong>
      <%=  trend.name  %>
    </div>
  <% } %>
</div>

