<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main trend",'/trends' %>
  <% end %>
  <%if @trend.nil? %>
  <strong>Trend not found</strong>
  <%else %>
    <h>Trend</h>
    <strong>Name:</strong>
    <%= @trend.name %>
  <%end %>
</div>