<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<% @posts.each { |post| %>
  <div>
    <strong>Title</strong>
    <%=  post.title  %>
  </div>
<!--  <div>-->
<!--    <strong>Description</strong>-->
    <%#=  post.description  %>
<!--  </div>-->
<% } %>
<%= link_to "New post", new_post_path %>



