.clother-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border: 1px solid red;
    width: 20%;
}
.clother-textarea{
    border: 1px solid #ff00ae;
    background: #d4e8ec;
}
.btn-crud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border: 1px solid red;
}