<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main page",'/desigual' %>
  <% end %>
  <h1>Categories</h1>
  <% @categories.each { |category| %>
  <div>
        <strong>Name</strong>
    <%=  category.name  %>
  </div>
  <% } %>
</div>

