<div>
  <% if session[:user_id].present? %>
    <%= link_to "Go to main category page",'/categories' %>
  <% end %>
  <% if @category.nil?%>
    <div>Category not found</div>
    <% else %>
  <h1>Category</h1>
  <strong>Name</strong>
  <%= @category.name %>
    <% end %>
</div>

